## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
A = 12
print(A)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(9.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(A)

int

4) Crear una variable que contenga tu nombre

In [9]:
NOMBRE = 'LUIS SANCHEZ MELENDEZ'

5) Crear una variable que contenga un número complejo

In [18]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [20]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [21]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [26]:
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [27]:
print('La variable 1 es de tipo ', type(var1), ' y la variable 2 es de tipo ', type(var2))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [28]:
suma1 = 5 - 3.2

11) Realizar una operación de suma de números complejos

In [29]:
n_complejo_suma1 = 5 + 3j
n_complejo_suma2 = 5 + 2j

print(n_complejo_suma1 + n_complejo_suma2)

(10+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [31]:
sumaR = 10 + 2.15
print(sumaR)

12.15

13) Realizar una operación de multiplicación

In [32]:
print(5*8)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [33]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [36]:
coc_div = 27 / 4
print(coc_div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
coc_div = 27 // 4
print(coc_div)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [39]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [43]:
sumaa = 'Republica '
sumab = 'Dominicana'
print(sumaa + sumab)

Republica Dominicana

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [52]:
a = float(3.8)
print("Porque str no es continiene un valor de float")

Porque str no es continiene un valor de float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [49]:
var3 = -3
var3 -= 1
print(var3)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [53]:
 1 << 2

print("Posición de desplazamiento de bits << multiplica el numero original por 2 elevado al numero de posiciones desplazado; es decir 1*2**2 por lo cual su resultado es 4")

Posición de desplazamiento de bits << multiplica el numero original por 2 elevado al numero de posiciones desplazado; es decir 1*2**2 por lo cual su resultado es 4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [56]:
2 + '2'
print("No es permitido porque uno tiene un valor entero y el otro es un texto, si los operando son del mismo tipo siempre arrojara el mismo resultado ")

float(2) + float('2')
int(2) + int('2')
str(2) + str('2')

No es permitido porque uno tiene un valor entero y el otro es un texto, si los operando son del mismo tipo siempre arrojara el mismo resultado

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [57]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces